canvas {   
    border: 1px solid black;
}

.button-container {
    cursor: pointer !important;
    z-index: 10; /* Asegura que esté por encima del canvas */
}

.restartBtn-container {
    cursor: pointer !important;
    z-index: 10; /* Asegura que esté por encima del canvas */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen {
    position: fixed;
    display: flex;
    align-content: center;
    z-index: 15;
    background-size: cover;
}

.screen {
    object-fit: cover;
    z-index: -1;
}

.startBtn {
    font-family: "Press Start 2P";
    position: absolute;
    top: 76.1%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 21px 44px;
    font-size: 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 3px; 
    cursor: pointer !important;
    z-index: 1;
}

.rankingBtn {
    font-family: "Press Start 2P";
    position: absolute;
    top: 83%;  
    left: 71.5%; 
    transform: translate(-50%, -50%);
    padding: 15px 8px;
    font-size: 13px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer !important;
    z-index: 1;
}

.controlsBtn {
    font-family: "Press Start 2P";
    position: absolute;
    top: 83%;  
    left: 28.5%; 
    transform: translate(-50%, -50%);
    padding: 15px 1px;
    font-size: 13px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer !important;
    z-index: 1;
}

#game-container {
    position: relative;
    width: 100vw; 
    height: 100vh; 
    background-image: url('../images/vintage.jpg'); 
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: 1px solid black;
    background-color: transparent; 
}