canvas {   
    border: 1px solid black;
}

.button-container {
    cursor: pointer !important;
    z-index: 10; /* Asegura que esté por encima del canvas */
}

.restartBtn-container {
    cursor: pointer !important;
    z-index: 10; /* Asegura que esté por encima del canvas */
}